@use "/app/_styles/theme.scss" as *;

.ascBox {
  display: flex;
  gap: $space-xl;
}

.gridItems {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: $space-sm;
  width: 100%;
}