@use "/app/_styles/theme.scss" as *;

.checkboxInput {
  display: flex;
  gap: $space-xxxxs;

  td {
    padding: 0;
  }

  label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
    max-width: 25ch;
    line-height: $space-sm;
    font-weight: 500 !important;
    color: $color-basic-800;
  }
}