@use "/app/_styles/theme.scss" as *;

.autosuggest {
  position: relative;
  width: 100%;

  .input {
    padding: $space-xs $space-xs;
    background-color: $color-basic-100;
    font-weight: 600;
    font-size: 1.13rem;
    width: 100%;
    border: 1px solid $color-basic-400;
    border-radius: $space-xxs $space-xxs;

    &::placeholder {
      color: $color-basic-600;
    }
  }

  .selectOpen {
    border-radius: $space-xxs $space-xxs 0 0;
    border-bottom: 1px solid $color-inst-primary-700;
  }

  .options {
    width: 100%;
    border-radius: 0 0 $space-xxs $space-xxs;
    padding: $space-xs $space-xxxs ;
    background-color: $color-basic-100;
    z-index: 0;
    border: 1px solid $color-basic-400;
    overflow-x: hidden;
    max-height: 12rem;

    .option {
      padding: 10px;
      cursor: pointer;
    }

    /* Estilização da barra de rolagem */
    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: white;
      border-radius: 12px;
    }
    &::-webkit-scrollbar-thumb {
      background: $color-basic-500; 
      border-radius: 12px;
    }
    &::-webkit-scrollbar-thumb:hover {
      background: $color-basic-600; 
    }
  }
}