@use "/app/_styles/theme.scss" as *;

.loadingPage {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: .7) !important;
  color: #fff;
  z-index: 9999;
  letter-spacing: 1px;

  h2 {
    margin-top: 20px;
    font-size: $font-size-lg;
  }

  p {
    margin-top: 10px;
    font-size: $font-size-xs;
  }

  &::after, &::before {
    display: none;
  }
}

.spinner {
  border:$space-xxxxs solid #f3f3f3;
  border-top:$space-xxxxs solid transparent;
  border-radius: 50%;
  width: $space-xl;
  height: $space-xl;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
