@use "/app/_styles/theme.scss" as *;

.link {
  font-size: $font-size-xs;
  font-weight: $font-weight-semi-bold;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.active {
  border-bottom: solid 2px $color-white;
}

.url:hover {
  transition: all 0.2s;
  opacity: 0.5;
}
