@use "/app/_styles/theme.scss" as *;

.chipBox {
  display: flex;
  flex-direction: column;
  gap: $space-xxxs;
  width: 100%;

  &::after, &::before {
    display: none;
  }
}

.chipList {
  display: flex;
  flex-wrap: wrap;
  gap: $space-xxxs;
}